* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #555a74;
}
.fa-star {
  color: rgb(85, 85, 5);
}
.List {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.MovieCard {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; 
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(83, 83, 83);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.poster {
  height : 400px;
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.genre {
  width: 300px;
  text-align: center;
  margin-bottom: 5px;
  color: whitesmoke;
}
.title {
  color: whitesmoke;
}
.Add {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}
.buttonAdd {
  height: 50px;
  width: 100px;
  background-color: rgb(167, 158, 172);
  border-radius: 10px;
}
.Rate {
  display:flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* .star-btn4 {
  margin-left: 0;
  margin-right: 70px;
  background-color: transparent;
  border-radius: 5px;
  
}
.star-btn3 {
  margin-left: 0;
  margin-right: 5px;
  background-color: transparent;
  border-radius: 5px;
}
.star-btn2 {
  margin-left: 0;
  margin-right: 5px;
  background-color: transparent;
  border-radius: 5px;
}
.star-btn1 {
  margin-left: 0;
  margin-right: 5px;
  background-color: transparent;
  border-radius: 5px;
}
.star-btn0 {
  margin-right: 5px;
  background-color: transparent;
  border-radius: 5px;
} */
.star-btn {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 30px;  
  height: 30px;
  background-color: rgb(133, 148, 118);
}
.inputAdd {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder ;
  font-size: 20px;
}
.btnIn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-left: 10px;
}
.description {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;  
  right: 0;
  background-color: seashell;
  color: black;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
}
.MovieCard:hover .description {
  transform: translateY(0%);
} 